extends layout

block body
  .row.h-100
    .col-7.h-100.p-0
      #map
    .col-5.p-0
      .row
        .col-12
          .input-group.rounded.m-3.p-0
            input#search-input(type='search' placeholder='Rechercher').form-control.rounded
            span.input-group-text.border-0: i.fas.fa-search
      .row
        .col-12
          #route.text-center.m-3
            h2 Aucune sélection


block scripts
  script(async src='https://maps.googleapis.com/maps/api/js?key=AIzaSyCpzHxqHktEbM3YTgTzRHZi6ilSJZdtoKc&libraries=places&region=CA&language=fr&callback=init')