extends layout

block body
  .row.h-100
    .col-9.h-100
      #map
    .col-3.d-flex.flex-column
      .input-group.rounded
        input#search-input(type='search' placeholder='Rechercher').form-control.rounded
        span.input-group-text.border-0: i.fas.fa-search
      #route.text-center
        h2 Aucune sélection


block scripts
  script(async src='https://maps.googleapis.com/maps/api/js?key=AIzaSyCpzHxqHktEbM3YTgTzRHZi6ilSJZdtoKc&libraries=places&region=CA&language=fr&callback=init')