include mixins/base


doctype html
html
  head
    title Bump
    meta(charset="utf-8")
    link(rel='icon' href="/assets/images/icon.png")
    link(rel='stylesheet' href='/stylesheets/style.css')
    block style
    script(src='/scripts/app.js')
    block modules
  body
    #container
      #header
        a(href='/').logo
          img(src='/assets/images/logo.png')
          h1 Bump
        .subtitle La référence #1 sur l'état des routes du Québec
        a(href='/ranking'): span Classement
      #body
        block body
      #footer
        block footer

    script(src="/scripts/vendor/jquery-3.5.1.min.js")
    script(src="/scripts/vendor/bootstrap.bundle.min.js")
    script(src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js")
    block scripts