extends layout

block body
  .row.mt-5
    .col-2 &nbsp;
    .col-4
      h2 Les pires routes du Québec
      .list
        - rank = 1;
        each route in worst
          .item
            .rank='#' + rank++
            .name=route.route
    .col-4
      h2 Les meilleurs routes du Québec
      .list
        - rank = 1;
        each route in best
          .item
            .rank='#' + rank++
            .name=route.route